# Intended for colouring 'mount' output
# written by Emanuele Aina

regexp=^(.*) on (.*) type (.*) \((.*)\)
colours=default,"\033[38;5;114m","\033[38;5;136m","\033[38;5;32m","\033[38;5;168m"
-
# Devices
regexp=^(\/[^\/ ]+)+
colours="\033[01;38;5;114m","\033[38;5;23;48;5;114m"
-
# Mount Path
regexp=(?<=on )(\/[^\/ ]+)+
colours=unchanged,"\033[04;38;5;136m"
-
# RW
regexp=(?<=\()rw
colours="\033[01;38;5;167m"
-
# RO
regexp=(?<=\()ro
colours="\033[01;38;5;114m"
-
# Like comment, leave at end always
regexp=^(cgroup|tmpfs).*
colours="\033[38;5;30m"
